@font-face {
    font-family: circular;
    src: url(../assets/fonts/Circular/CircularStd-Medium.otf);
}

@font-face {
    font-family: circular-light;
    src: url(../assets/fonts/Circular/CircularStd-Light.otf);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: "Poppins"; */
    /* font-family: circular-light; */

    overflow-x: hidden;

    --primary-background: #F9FCFF;
    --primary-text: #31486b;

    --primary-background-dark: #ebeeef;
    --primary-background-light: #e0e7f0;

    font-size: 1rem;
    line-height: 2rem;
    background-color: var(--primary-background);
    color: var(--primary-text);
}

p, table {
    line-height: 1.5rem;
}

header {
    width: 100vw;
    box-sizing: border-box;

    overflow: hidden;

    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;

    /* font-weight: bold; */
    font-family: circular;
    font-size: 1.1rem;

    padding: 10px 30px 10px 30px;

    /* border-bottom: 1px solid rgb(200, 200, 200); */
}

header.overlay {
    position: absolute;   
    z-index: 10;
    color: white;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0));
}

header:not(.overlay) {
    box-shadow: 3px 3px 10px 10px rgb(0, 0, 0, 0.05);
}

header.overlay .logo {
    filter: invert(100%);
}

footer {
    padding: 80px 20px 80px 20px;

    font-size: 0.9rem;
    line-height: 1.7rem;

    background-color: white;
    
    box-shadow: 3px 3px 10px 10px rgb(0, 0, 0, 0.05);    /* border-top: 1px solid rgb(200, 200, 200); */
    /* background-color: white; */
}

footer a {
    color: inherit;
    text-decoration: none;

}

footer a:hover {
    text-decoration: underline;
}

.footer-content {
    display: flex;
    flex-direction: row;

    gap: 40px;

    max-width: 1080px;
    margin: auto;
}

.footer-content > div {
    width: 100%;
}

.footer-content > div > h2 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer-content > div > *:not(h2) {
    color: rgb(114, 117, 120);
}

.footer-table {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    max-width: 275px;
}

.footer-table > li {
    box-sizing: border-box;
    padding: 0 10px 0 0;
}

.icon {
    height: 1.2rem;
    margin: 0 7px 0 0;
    filter: invert(25%) sepia(11%) saturate(2661%) hue-rotate(177deg) brightness(91%) contrast(84%);
}

.logo {
    max-height: 40px;
    filter: invert(25%) sepia(11%) saturate(2661%) hue-rotate(177deg) brightness(91%) contrast(84%);
}

.logo-link {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;

    font-size: 1rem;

    width: 100%;
}

nav > ul {
    display: flex;
    align-items: center;
    
    width: 100%;
    justify-content: flex-end;

    column-gap: 20px;
    padding: 0 20px 0 20px;
}

nav > ul > li > a {
    color: inherit;
    text-decoration: none;
    opacity: 0.95;
    transition: opacity 0.34s ease;
}

nav > ul > li > a:hover {
    opacity: 1;
    text-decoration: underline;
}

main {
    /* max-width: 1080px; */
    min-height: 100vh;
    margin: auto;

    box-sizing: border-box;
}

main > div:not(.hero-banner):not(.no-margin) {
    max-width: 1080px;

    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.container-padding {
    margin-top: 40px;
}

.container-padding > div {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: flex;

    align-items: center;
    justify-content: flex-start;

    background-color: var(--primary-background);
    color: var(--primary-text);
    border: 1px solid var(--primary-text);

    font-family: circular;
    text-decoration: none;
    font-size: 0.9rem;

    filter: brightness(1);

    border-radius: 3px;
    padding: 16px 32px 16px 32px;

    box-sizing: border-box;
    height: calc(32px + 1rem);

    cursor: pointer;

    transition: filter 100ms;
}

.hero-image-buttons > .button:nth-child(even) {
    background-color: var(--primary-text);
    color: var(--primary-background);
    border-color: var(--primary-text);
}

.button:hover {
    filter: brightness(93%);
}

.hero-banner {
    width: 100%;

    position: relative;
    overflow: hidden;

    height: calc(90vh - 50px);
}

.hero-banner.small {
    height: calc(60vh - 50px);
}

.hero-banner.overlay-gradient::after {
    position: absolute;
    content: "";

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(90deg, rgba(0,0,0,0.6) 30%, transparent 90%);
}

.hero-image {
    width: 100%;
    height: 100%;
    scale: 1;

    object-fit: cover;
    object-position: 0 0;
}

.hero-banner:not(.overlay-gradient) > .hero-image {
    filter: brightness(60%);
}

.hero-image.reflected {
    transform: scaleX(-1);
}

.hero-image-text {
    position: absolute;
    top: 20%;
    left: 15%;

    width: 100%;
    height: 100%;

    z-index: 10;

    /* max-width: 200px; */

    padding: 20px;

    line-height: 2.75rem;

    color: white;
    font-family: circular;

    display: flex;
    flex-direction: column;

    text-align: left;
    /* justify-content: center; */
    align-items: flex-start;
}

.hero-image-text > h2 {
    font-size: 2rem;
    font-weight: bold;
}

.hero-image-text > p {
    font-family: circular-light;
    font-size: 1.25rem;
    line-height: 2.25rem;

    max-width: 400px;
    margin-bottom: 2rem;
}

.hero-image-buttons {
    display: flex;

    font-weight: normal;
}

.hero-image-buttons > .button:not(.hero-image-buttons > .button:last-child) {
    margin-right: 15px
}

.card-graphics {
    padding: 40px 15px 40px 15px;

    display: flex;
}

.card {
    padding: 15px;

    width: 100%;
}

.card-image {
    height: 50px;
    filter: invert(25%) sepia(11%) saturate(2661%) hue-rotate(177deg) brightness(91%) contrast(84%);
}

.card-title {
    font-family: "Montserrat";
    font-weight: bold;
}

.card-body {
    font-family: "Poppins";
    font-weight: 300;
}

.image-section-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-section {
    display: flex;
    flex-direction: row;
    
    gap: 20px;
    padding: 20px;
}

.image-section:nth-child(odd) {
    flex-direction: row-reverse;
}

.image-section > div {
    width: 100%;
    max-width: 600px;
}

/* .image-section > figure {   

} */

.image-section > figure > img {
    object-fit: cover;
    width: 425px;
    height: 290px;
}

.timeline-container {
    display: flex;
    flex-direction: row;
    
    gap: 40px;
}

.vertical-timeline {
    position: relative;
    margin-left: 30px;
    width: 50px;

    display: flex;
    flex-direction: column;
}

@property --timeline-point-conic {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

.timeline-point {
    position: absolute;

    /* background-color: var(--primary-background);
    border: 5px solid var(--primary-text); */
    /* background-color: var(--primary-text); */

    z-index: 10;

    box-sizing: border-box;

    transform: translateY(-50%);

    width: 40px;
    height: 40px;
    border-radius: 100%;

    background-image: conic-gradient(var(--primary-text) var(--timeline-point-conic), transparent, transparent var(--timeline-point-conic));

    transition: --timeline-point-conic ease 800ms;
    transition-delay: 100ms;
}

.timeline-point.visible {
    --timeline-point-conic: 100%;
}

.timeline-point::before {
    position: absolute;
    content: "";

    background-color: var(--primary-background);

    width: 29px;
    height: 29px;

    border-radius: 100%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timeline-point::after {
    content: "";
    position: absolute;

    z-index: 9;

    top: 100%;
    left: 50%;
    width: 2px;

    transform: translateX(-50%);

    /* height: var(--timeline-height); */
    height: 0px;
    background-color: var(--primary-text);

    transition: height 1s;
    transition-delay: 125ms;
}

.timeline-point.visible::after {
    height: var(--timeline-height);
}

.timeline-point > img {
    position: absolute;
    filter: invert(25%) sepia(11%) saturate(2661%) hue-rotate(177deg) brightness(91%) contrast(84%);

    opacity: 0;
    width: 40%;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    transition: opacity 1s;
}

.timeline-point.visible > img {
    opacity: 1;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
    text-align: center;

    padding: 80px 0 80px 0;
}

.call-to-action > h2 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 2rem;

    margin-bottom: 20px;
}

.call-to-action > p {
    margin-bottom: 30px;
    max-width: 600px;
}

.tab-container {
    display: flex;
    flex-direction: column;
}

.tab-container > .tabs {
    display: flex;
    align-items: flex-end;
    height: 3rem;
}

.tab-container .tab-button {
    background-color: #e0e7f0;
    
    padding: 10px 25px 10px 25px;
    margin: 0;

    font-size: 1.1rem;
    height: 3rem;

    box-sizing: border-box;
    
    cursor: pointer;
    border: none;

    border-radius: 3px 3px 0 0;

    transition: height 250ms;
}

.tab-container .tab-button:first-child {
    margin-left: 10px;
}

.tab-container .tab-button.selected {
    background-color: var(--primary-text);
    color: var(--primary-background);
    height: 3.3rem;
}

.tab-container .tab-button:hover {
    filter: brightness(93%);
}

.tab-container > .content-container {
    padding: 20px;
    background-color: #e0e7f0;
}

.tab-container > .content-container > .content {
    display: none;
}

.tab-container > .content-container > .content.selected {
    display: block;
}

.sources-list li {
    padding-left: 20px;
    text-indent: -20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sources-main {
    padding: 0 20px 0 20px;

    max-width: 920px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.impact-page {
    max-width: 920px;
    
    margin: auto;
    margin-top: 60px;
}

.impact-page > h1 {   
    font-family: circular;
    font-size: 2.5rem;

    margin-bottom: 20px;
}

.impact-page .comparisons-table {
    width: 100%;
    margin-top: 40px;
}

.impact-page .comparisons-body tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 100px;
}

.impact-page .comparisons-body tr:first-child {
    margin-top: 0;
}

.impact-page .comparisons-body td {
    padding: 20px 0 20px 0;
}

.impact-page .comparisons-body > tr > td:first-child {
    font-weight: bold;
    /* font-size: 1.2rem; */
}

.impact-page .comparisons-body img {
    margin: auto;
    margin-top: 20px;

    display: block;
    width: 80px;
    filter: invert(25%) sepia(11%) saturate(2661%) hue-rotate(177deg) brightness(91%) contrast(84%);
}

.impact-page .comparisons-body > tr > td:nth-child(2)::before {
    display: block;
    content: "Negative";
    font-weight: bold;
}

.impact-page .comparisons-body > tr > td:nth-child(3)::before {
    display: block;
    content: "Positive";
    font-weight: bold;
}